/* Estilos gerais */
body {
  font-family: Poppins;
  background-color: #f4f4f4;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-top: -30px;
  text-align: center;
}

.btn-primary {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
}

.btn-outline-primary{
width: 400px;
}

/* Estilos para o resultado */
#result {
  margin-top: 50px;
  text-align: center;
}

#perfil {
  font-weight: bold;
  color: #007bff;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
label {
  margin: 5px;
}

/* Botão */
.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #3e6df0;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 100px;
}

.comic-button:hover {
  background-color: #fff;
  color: #473ef0;
  border: 2px solid #000;
  box-shadow: 5px 5px 0px #000;
}

.comic-button:active {
  background-color: #473ef0;
  box-shadow: none;
  transform: translateY(4px);
}

.class {
  text-align: center;
  align-items: center;
}

#front {
  margin-bottom: 100px;
  height: 300px;
  position: relative;
  border-radius: 30px;
  background: linear-gradient(
    to bottom,
    #021024,
    #052659,
    #5483b3,
    #7da0ca,
    #c1e8ff
  );
  text-align: center;
}

#wallpaper {
  width: 200px;
  position: absolute;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #004080;
  border-radius: 100%;
}

#bem-vindo {
  text-align: center;
}

.container-fluid{
 padding-left: 50px;
 padding-right: 50px;
}

#perfilImage{
  width: 250px;
}